BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

NamespaceIndentation: None

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never

PointerAlignment: Left

IncludeBlocks: Regroup
SortIncludes: CaseSensitive

SpaceBeforeParens: ControlStatements